<header>
  <div class="header-content">  
    <a routerLink="/" class="header-logo">
      <!-- Wrap the h1 element inside an anchor tag -->
      <img src="assets\logo.jpg" alt="Logo"><div class="name">
      BoardifyNow</div>
    </a><div>
   <br><br><br>
    </div>
    <div class="header-actions">
      <div class="action-box sign-in-box">
        <button routerLink="/signin"><b> Login</b> </button>
      </div>
      <div class="action-box sign-up-box">
        <button routerLink="/signup"><b>Register</b> </button>
      </div>
    </div>
  </div>

</header>