<app-header></app-header>
<div class="parent">
  <div class="container">
    <div class="text-content">
      <h1>Organize, Collaborate & Succeed With BoardifyNow</h1>
      <h3>Keep everything in the same place — even if your team isn’t.</h3>
    </div>
    <img class="hero-image" src="assets/collage.png" alt="BoardifyNow Kanban Board">
    <div class="wave-background"></div>
  </div>
  <!-- <div class="screenshots">
      <div class="screenshot">
        <div class="text-container">
        <h2>Boards</h2>
        <h3> BoardigyNow boards serve as the dynamic framework for orchestrating task management and ensuring a steady flow of progress. They provide a comprehensive visual overview, effortlessly guiding you from the initial list of tasks to the triumphant moment of achievement. With BoardigyNow, every stage of the journey, from the inception of ideas to their successful execution, is seamlessly integrated and easily accessible at a glance.</h3>
      </div>
        <img class="ss-1" src="assets/dashboard.png" alt="Dashboard Screenshot">
      </div>
      <div class="screenshot">
        <img class="ss-2" src="assets/userdetails.png" alt="User Details Screenshot">
        <h3>User Details: Manage user profiles and permissions with ease.</h3>
      </div>
      <div class="screenshot">
        <h3>Trash: Easily manage and restore deleted items.</h3>
        <img class="ss-3" src="assets/trash.png" alt="Trash Screenshot">
      </div>
  </div> -->
  <div class="text">
    <h3><b>BOARDIFYNOW IN ACTION</b></h3>
    <h1>A project workflow is essential regardless of its scale, offering a structured approach to project management</h1>
    <!-- Add a brief introduction -->
    <!-- Add screenshots with descriptions -->
  </div>
  <div class="card-container">
    <div class="card card1">
      <div class="card-top"></div>
      <div class="card-content">
        <h2><b>Project Management </b></h2>
        <p>Keep tasks in order, deadlines on track, and team members aligned with BoardifyNow </p>
      </div>
    </div>
    <div class="card card2">
      <div class="card-top"></div>
      <div class="card-content">
        <h2><b>Task Management </b> </h2>
        <p>Use BoardifyNow to track, manage, complete, and bring tasks together like the pieces of a puzzle, and make your team's projects a cohesive success every time. </p>
      </div>
    </div>
    <div class="card card3">
      <div class="card-top"></div>
      <div class="card-content">
        <h2><b> Brainstorming </b> </h2>
        <p> Unleash your team's creativity and keep ideas visible, collaborative, and actionable. </p>
      </div>
    </div>
    <div class="card card4">
      <div class="card-top"></div>
      <div class="card-content">
        <h2><b> Onboarding </b></h2>
        <p> Onboarding to a new company or project is a snap with BoardifyNow's progress tracking. </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
